### 실습 환경 버전들

In [6]:
import sys
import tensorflow as tf
import tensorflow.keras
import pandas as pd
import sklearn as sk


print(f"Tensor Flow Version: {tf.__version__}")
print(f"Keras Version: {tensorflow.keras.__version__}")
print()
print(f"Python {sys.version}")
print(f"Pandas {pd.__version__}")
print(f"Scikit-Learn {sk.__version__}")
gpu = len(tf.config.list_physical_devices('GPU'))>0
print("GPU is", "available" if gpu else "NOT AVAILABLE")

Tensor Flow Version: 2.1.0
Keras Version: 2.2.4-tf

Python 3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]
Pandas 1.3.4
Scikit-Learn 1.0.2
GPU is available

In [2]:
a = 10
b = .05
print(a, b, 10, 100, sep = '*', end = '!!')

10*0.05*10*100!!

## 리스트 & 튜플

In [4]:
a = [ ]
print(a)

[]

In [5]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

In [6]:
a[0]

1

In [8]:
a[-1]

3

In [9]:
a = 'hello this is example'
b = list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 'e', 'x', 'a', 'm', 'p', 'l', 'e']

In [10]:
# 리스트는 배열이라고 생각하면 될듯하다.
# 근데 리스트는 여러가지 타입을 담을 수 있음.

b = ['a', 'bb', 3, 3.14, "hello"]
print(b)

['a', 'bb', 3, 3.14, 'hello']

In [11]:
# 문자열은 불변
a = 'hello world'
print(a[0])

a[0] = 'j' # 이러면 에러 발생함

h

TypeError: 'str' object does not support item assignment

In [14]:
#이렇게 해야함
b = 'jello world'
c = 'j' + a[1:]



print(b, c)
print(a.replace('h', 'j'))
print(a)

jello world jello world
jello world
hello world

##  tuple  
리스트와 같이 복수개의 값을 갖는 컬렉션 타입  
생성된 후 변경이 불가능

In [16]:
a = [1, 2, 3]
b = (1, 2, 3) # 튜플 -> 불변임

print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [ ]:
a[0] = 100

##  set >> 중복을 허용하지 않고 순서가 없는 구조

In [1]:
a = {1, 1, 2, 3, 3, 4, 1, 5}
print(a) # 중복값 제거되서 나옴

{1, 2, 3, 4, 5}

In [2]:
print(a[0]) # set 은 인덱싱이 안된다. (내부적으로 순서가 없음)

TypeError: 'set' object is not subscriptable

In [3]:
a = {}
type(a)

dict

In [5]:
a = set()
type(a)

set

In [6]:
#list -> set 으로 변환
a = [1, 1, 2, 3, 3, 4, 1, 5]
print(a)

b = set(a)
print(b)

[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

In [8]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합
print(a.issubset(b)) #부분집합

{1, 2, 3, 4}
{2, 3}
{1}
False

In [10]:
a = {3, 4}
b = {2, 3, 4}
print(a.issubset(b)) #부분집합

True

##  for 문 연습문제

In [11]:
a = {'korea' : 'seoul', 'japan' : 'tokyo', 'canada' : 'ottawa'}
print(a)

{'korea': 'seoul', 'japan': 'tokyo', 'canada': 'ottawa'}

In [12]:
type(a)

dict

In [14]:
for country, capital in a.items():
    print(country, capital)

korea seoul
japan tokyo
canada ottawa

In [20]:
# 구구단 2 - 9단까지 출력하기

x = [2, 3, 4, 5, 6, 7, 8, 9]
y = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in x:
    print('{}단'.format(i))
    print('===========')
    for j in y:
        print('{} x {} = {}: '.format(i, j, i * j))
    print('\n')

2단
===========
2 x 1 = 2:
2 x 2 = 4:
2 x 3 = 6:
2 x 4 = 8:
2 x 5 = 10:
2 x 6 = 12:
2 x 7 = 14:
2 x 8 = 16:
2 x 9 = 18:


3단
===========
3 x 1 = 3:
3 x 2 = 6:
3 x 3 = 9:
3 x 4 = 12:
3 x 5 = 15:
3 x 6 = 18:
3 x 7 = 21:
3 x 8 = 24:
3 x 9 = 27:


4단
===========
4 x 1 = 4:
4 x 2 = 8:
4 x 3 = 12:
4 x 4 = 16:
4 x 5 = 20:
4 x 6 = 24:
4 x 7 = 28:
4 x 8 = 32:
4 x 9 = 36:


5단
===========
5 x 1 = 5:
5 x 2 = 10:
5 x 3 = 15:
5 x 4 = 20:
5 x 5 = 25:
5 x 6 = 30:
5 x 7 = 35:
5 x 8 = 40:
5 x 9 = 45:


6단
===========
6 x 1 = 6:
6 x 2 = 12:
6 x 3 = 18:
6 x 4 = 24:
6 x 5 = 30:
6 x 6 = 36:
6 x 7 = 42:
6 x 8 = 48:
6 x 9 = 54:


7단
===========
7 x 1 = 7:
7 x 2 = 14:
7 x 3 = 21:
7 x 4 = 28:
7 x 5 = 35:
7 x 6 = 42:
7 x 7 = 49:
7 x 8 = 56:
7 x 9 = 63:


8단
===========
8 x 1 = 8:
8 x 2 = 16:
8 x 3 = 24:
8 x 4 = 32:
8 x 5 = 40:
8 x 6 = 48:
8 x 7 = 56:
8 x 8 = 64:
8 x 9 = 72:


9단
===========
9 x 1 = 9:
9 x 2 = 18:
9 x 3 = 27:
9 x 4 = 36:
9 x 5 = 45:
9 x 6 = 54:
9 x 7 = 63:
9 x 8 = 72:
9 x 9 = 81:

In [22]:
# 1 - 100 까지 정수 중 2의 배수 또는 11의 배수 모두 출력
for n in range(1,101):
    if n % 2 == 0 or n % 11 == 0:
        print(n)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [25]:
# a = [22, 1, 3 , 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]에서 최대값과 최소값을 찾으시오
# sorted, sort 사용 X
a = [22, 1, 3 , 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
max_value = a[0]
min_value = a[0]
for _, item in enumerate(a):
    if _ > 0: # 1부터
        if(max_value < item):
            max_value = item
        if(min_value > item):
            min_value = item
            
print(max_value, min_value)

99 1

In [27]:
# a = [22, 1, 3 , 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.
a = [22, 1, 3 , 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
sum_a = 0
for item in a:
    sum_a += item
mean = sum_a / len(a)

print(mean)

37.0

## keyword parameter (키워드 파라미터)  
파라미터에 값을 전달할 때, 파라미터의 이름을 명시하여 전달

In [1]:
def test(x, y, z):
    a = x + y + z
    return a

In [2]:
test(x = 10, y = 3, z = 50)

63

In [3]:
test(x = 10, z = 3, y = 50)

63

## multiple return (복수 값 변환)  
tuple반환을 하여 복수개의 값 리턴 가능

In [4]:
def add_mul(x, y):
    s = x + y
    m = x * y
    
    return s, m # 사실 tuple을 반환시키는 개념

In [5]:
c = add_mul(20, 3)
print(type(c))
print(c)

<class 'tuple'>
(23, 60)

In [7]:
c1, c2 = add_mul(20, 3)


print(type(c1))
print(type(c2))
print(c1)
print(c2)

<class 'int'>
<class 'int'>
23
60

## variable scope(변수 범위)  
지역 변수와 전역 변수의 차이 복기

In [8]:
num1 = 10
num2 = 20

def test(num1, num2):
    print(num1, num2)
    return num1 + num2

In [9]:
test(30, 40)      # (30, 40)
print(num1, num2) # (10, 20)

30 40
10 20

## variable length argument (가변길이 인자)  
전달되는 파라미터의 개수가 고정적이지 않은 경우 사용  
*args : 파라미터를 튜플의 형태로 전달  
***kwargs : 파라미터를 딕셔너리 형태로 전달

In [11]:
def test(*x):
    print(type(x))
    
test(10, 20)

<class 'tuple'>

In [15]:
#가변길이 파라미터를 사용할 땐, 관례적으로 args라는 이름으로 사용한다.
def test(*args): # arguments
    print(type(args))
    for item in args:
        print(item, end = ' ')

        
test(10, 20, 30 ,40, 50)

<class 'tuple'>
10 20 30 40 50

In [23]:
# 키워드 파라미터 **가 붙은건 키워드 파라미터로 인식함
# keyword arguments
# 이것도 역시 관례적으로 kwargs로 정의하여 사용한다.
def test2(**kwargs):
    print(type(kwargs))
    for key, value in kwargs.items():
        print('key:', key, ', value:', value)
    
test2(a = 1, c = 2, b = 3, name ='Bob', age = 29) #유효한 호출

<class 'dict'>
key: a , value: 1
key: c , value: 2
key: b , value: 3
key: name , value: Bob
key: age , value: 29

## Lambda 함수  
단일문으로 표현되는 익명함수  
코드 상에서 한번만 사용되는 기능이 있을 때, 굳이 함수로 만들지 않고 1회성으로 만들어서 쓸 때 사용.

In [25]:
square = lambda x:x**2
print(square(5))

25

In [28]:
def add(x, y):
    return x + y

add2 = lambda x, y : x + y
print(add(10, 20))
print(add2(10, 20))

30
30

In [30]:
strings = ['bob', 'charles', 'alexander3', 'teddy']
strings.sort(key = lambda s : len(s))

print(strings)

['bob', 'teddy', 'charles', 'alexander3']

filter, map, reduce  
-> lambda가 유용하게 사용되는 3가지 대표적 함수 
filter : 특정 조건을 만족하는 요소만 남기고 필터링  
map : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트를 변환  
reduce : 차례대로 앞 2개의 원소를 가지고 연산. 연사의 결과가 또 다음 연산의 입력으로 진행됨. 마지막까지 진행되면 최종 출력은 1개만 남음

In [31]:
#filter(함수, 리스트) : 리스트가 함수의 조건에 참이 되면 살아남고, 거짓이 되는 요소는 지워짐.

nums = [1, 2, 3, 5, 6, 8, 9]

#짝수만 남기는 filter 예제
list(filter(lambda n : n % 2 == 0, nums))

[2, 6, 8]

In [32]:
#map
nums = [1, 2, 3, 5, 6, 8, 9, 10, 11, 13, 15]

list(map(lambda n : n**2, nums))

[1, 4, 9, 25, 36, 64, 81, 100, 121, 169, 225]

In [33]:
list(map(lambda n : n%2 == 0, nums))

[False, True, False, False, True, True, False, True, False, False, False]

In [34]:
#reduce
# 다른 모듈에 편입되어 임포트 해야함.
import functools

#functools.reduce(함수, 리스트)

a = list(range(1, 11)) # 1 ~ 10
#리스트 내의 모든 숫자의 합
functools.reduce(lambda x,y: x + y, a)

55

### 함수 연습문제  
##### 1. 주어진 숫자 리스트의 평균을 구하는 함수를 출력하시오.
##### 2. 해당 숫자가 소수인지 아닌지 판별하시오.
##### 3. 2부터 해당 숫자사이에 소수가 몇개인지 출력하는 함수를 구하시오.

In [3]:
# 입력 : 숫자 리스트
# 출력 : 숫자 리스트의 평균값

def mean(nums):
    return sum(nums) / len(nums)

print(mean([1, 2, 3]))
print(mean([1, 2, 3, 4, 5]))
print(mean([1, 2, 3, 4, 5, 7.3, 8.7]))

2.0
3.0
4.428571428571429

In [5]:
def is_prime(num):
    for n in range(2, num):
        if num % n == 0:
            return False
    return True


print(is_prime(17))
print(is_prime(88))

True
False

In [7]:
def num_prime(num):
    count = 0
    for n in range(2, num + 1): # num 본인 포함
        if is_prime(n):
            count += 1
    return count

print(num_prime(50))

15